body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #aaa;
}

#name{
    height: 20px;
    width: 580px;
    margin-bottom: 10px;
    border-radius: 8px;
    border:  1px solid  #ccc;
    padding: 10px;
}

#contact{
    height: 20px;
    width: 580px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 10px;
}

#dob{
    height: 20px;
    width: 580px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 10px;
}

#allergies{
    height: 20px;
    width: 580px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 10px;
}

#bloodGroup{
    height: 20px;
    width: 580px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 10px;
}

#address{
    height: 20px;
    width: 580px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 10px;
}

#generateCard{
  padding: 10px 20px;
  background: #007bfc;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#generateCard:hover{
  background: #005fcc;
}

.cardDetails{
  margin-top: 20px;
  padding: 20px;
  border: 2px dashed #007bfc;
  background-color: #f9f9f9;
  border-radius: 10px;
}

h2{
    margin: 0px;
}

button{
  padding: 10px 20px;
  background: #007bfc;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover{
  background: #005fcc;
}

.card{
  margin-top: 20px;
  padding: 20px;
  border: 2px dotted #007bfc;
  background-color: #f9f9f9;
  border-radius: 10px;
}

@media print{
  body{
    visibility: hidden;;
  }
.card, .card{
  visibility: visible;
}
.card{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  margin: 0;
}
}

@media(max-width:480px){
  .container{
    margin: auto;
  }
  #name, #contact, #dob, #bloodGroup, #allergies, #address{
    width: 95%;
    max-width: 580px;
    box-sizing: border-box;
  }
}

@media(max-width:576px){
  .container{
    margin: auto;
  }
  #name, #contact, #dob, #bloodGroup, #allergies, #address{
    width: 95%;
    max-width: 580px;
    box-sizing: border-box;
  }  
}

@media(max-width:768px){
  .container{
    margin: auto;
  }
  #name, #contact, #dob, #bloodGroup, #allergies, #address{
    width: 95%;
    max-width: 580px;
    box-sizing: border-box;
  }  
}

@media(max-width:992px){
  .container{
    margin: auto;
  }
  #name, #contact, #dob, #bloodGroup, #allergies, #address{
    width: 95%;
    max-width: 580px;
    box-sizing: border-box;
  }  
}

@media(max-width:1200px){
  .container{
    margin: auto;
  }
  #name, #contact, #dob, #bloodGroup, #allergies, #address{
    width: 95%;
    max-width: 580px;
    box-sizing: border-box;
  }  
}
